.create-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .create-listing-nav-main {
    width: 1130px;
  }

  .create-content {
    display: flex;
    margin: 2rem;
  }

  .create-content-right {
    display: flex;
    flex-direction: column;
    padding: 8rem 2rem 0;
  }

  .create-guests-outer {
    width: 26rem;
    display: grid;
    grid-template-columns: repeat(2, 13rem);
  }

  .right-content-input {
    height: 23rem;
    box-sizing: border-box;
  }


  .create-header {
    background: linear-gradient(#e1005a, #d70069, #c90079, #b6008b, #9c009c, #7800ac, #3b07bb);
    height: 33rem;
    width: 23rem;
    display: flex;
    padding: 0 4rem 8rem 4rem;
    align-items: center;
    color: white;
    font-size: 2.5rem;
    border-radius: 20px;
  }

  .create-new-label,
  .create-new-label-property {
    font-size: 1.3rem;
    margin-bottom: 0.6rem;
  }

  .create-guests-label,
  .create-bathroom-label {
    font-size: 1.3rem;
    margin-bottom: 3rem;
  }

  .create-bathroom-label {
    margin-bottom: 10rem;
  }

  .create-guests-buttons button {
    border-radius: 50%;
    background: none;
    border: 1px solid grey;
    padding: 5px 10px;
    margin: 0 10px;
  }

  .create-guests-buttons button:disabled {
    border: 1px solid rgba(128, 128, 128, 0.325);
  }

  .create-new-label-property {
    margin-top: 30px;
  }

  .create-categories-main {
    display: grid;
    grid-template-columns: repeat(2, 13rem);
    padding-bottom: 54px;
  }

  .create-categories-outer {
    display: grid;
    grid-template-columns: 15% 75%;
    padding: 10px 0;
  }

  .create-category-radio {
    height: 1rem;
    margin: 0;
    width: 1rem;
  }

  .create-new-button {
    font-size: 1rem;
    font-weight: 250;
    padding: 0.7rem 0.9rem 0.9rem;
    border-radius: 10px;
    background: none;
    margin-left: 1rem;
    width: 22rem;
    border: rgba(128, 128, 128, 0.338) 1px solid;
    white-space: nowrap;
    display: flex;
    align-items: center;
  }

  .no-session-button {
    font-size: 1.2rem;
    font-weight: 250;
    padding: 0.85rem 1.2rem 1rem;
    border-radius: 10px;
    background: none;
    margin-left: 1rem;
    width: 22rem;
    border: rgba(128, 128, 128, 0.338) 1px solid;
  }

  .white-space {
    padding: 3.5rem;
  }

  .fa-plus {
    margin-right: 1rem;
    font-size: 2rem;
    font-weight: 200;
  }

  .create-new-button:hover {
    border: 1px solid black;
    background-color: rgba(178, 178, 178, 0.103);
  }

  .back-next-buttons {
    height: 5rem;
  }

  .back-next-buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .create-input,
  .multi-input,
  .create-type-input {
    width: 26rem;
    font-size: 0.9rem;
    height: 2.2rem;
    font-weight: 250;
    margin: 5px 0;
  }

  .back-button {
    padding: 0.8rem 1rem;
    font-size: 0.9rem;
    border: none;
    background: none;
  }

  .back-button:hover {
    background-color: rgba(178, 178, 178, 0.103);
    border-radius: 10px;
  }

  .next-button:disabled {
    padding: 0.8rem 1rem;
    font-size: 0.9rem;
    border: none;
    border-radius: 10px;
  }

  .next-button:enabled {
    padding: 0.8rem 1rem;
    font-size: 0.9rem;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
  }

  .create-input-textarea {
    width: 26rem;
    height: 17rem;
    border-radius: 10px;
    resize: none;
    margin: 1rem 0;
    font-size: 0.9rem;
    font-weight: 250;
    padding: 1rem;
  }

  .not-visible {
    visibility: hidden;
  }

  .demo-buttons {
    border-radius: 10px;
    color: rgb(92, 92, 92);
    border: none;
    font-size: 0.8rem;
    padding: 0.4rem 0.5rem;
  }

  .right-content-label {
    display: flex;
  }

  .right-content-demo {
    margin-bottom: 0;
    margin-left: 1rem;
  }

  .error-message {
    padding-top: 18.5rem;
    font-size: 0.7rem;
  }

  .error-message-li {
    font-size: 0.7rem;
  }

  .error-message-ul {
    margin: 0.3rem 0;
  }
