.room-details-outer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .room-nav-main {
    width: 1190px;
  }

  .main-top {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .room-content {
    margin: 1.5rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
  }

  .outer-room-images {
    display: flex;
    justify-content: center;
  }

  .room-images {
    display: grid;
    grid-template-columns: repeat(2, 570px);
    place-items: center;
  }

  .left-image-div {
    height: 30.65rem;
    width: 35.55rem;
  }

  .main-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .right-image-div {
    display: grid;
    grid-template-columns: repeat(2, 280px);
    grid-template-rows: repeat(2, 250px);
  }

  .side-image-div {
    margin: 0.25rem;
  }

  .side-images {
    height: 100%;
    width: 100%;
    object-fit: cover;
    max-height: 23rem;
  }

  .side-images2 {
    border-top-right-radius: 20px;
  }

  .side-images4 {
    border-bottom-right-radius: 20px;
  }

  .side-image-div {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .room-top-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.8rem;
    margin: 0 1rem;
    width: 72rem;
  }

  .room-name {
    font-size: 1.8rem;
    font-weight: 450;
  }

  .room-information-top {
    font-size: 1rem;
    margin: 0.3rem 0 0;
    display: inline-block;
  }

  .fa-star {
    margin-right: 7px;
  }

  .fa-star.smaller {
    font-size: 1rem;
  }

  .room-reviews,
  .room-location {
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
  }

  .room-location {
    width: 700px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
    vertical-align: text-bottom;
  }

  .span-separator {
    font-size: 22px;
    margin: 0 15px;
  }

  .span-separator-smaller {
    font-size: 2rem;
    padding: 0 0.5rem 0.3rem 0.1rem;
  }

  .session-user-buttons {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .edit-listing-button,
  .delete-listing-button,
  .delete-confirm-button {
    background-image: linear-gradient(to right, #E61E4D 0%, #E31C5F 50%, #D70466 100%);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 0.9rem;
    height: 2rem;
    width: 5rem;
    margin-right: 1rem;
  }

  .room-information-bottom {
    display: flex;
    margin: 1rem;
    justify-content: center;
  }

  .default-description {
    width: 45rem;
    padding-right: 40px;
    box-sizing: border-box;
  }

  .room-info-general {
    border-bottom: 1px solid rgba(128, 128, 128, 0.299);
    display: grid;
    grid-template-columns: 85% 15%;
    padding: 10px 0;
  }

  .room-info-header {
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 0.5rem;
  }

  .room-info-beds {
    font-size: 1rem;
    font-weight: 250;
    padding-bottom: 1.2rem;
  }

  .room-info-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .room-owner-img {
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
  }

  .room-description {
    font-size: 1rem;
    font-weight: 250;
    padding: 1.6rem 1.2rem 0 0rem;
  }

  .delete-confirmation-modal {
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  .delete-confirmation-button-outer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }

  .delete-confirm-button {
    margin-right: 0;
  }

  .room-calendar {
    margin-top: 10rem;
    padding: 1.7rem 0;
  }

  .calendar-header {
    padding: 1.7rem 0 0.5rem;
    border-top: 1px solid rgb(214, 214, 214);
    font-weight: 500;
    font-size: 1.4rem;
  }

  @media screen and (max-width: 1700px) {
    .outer-top-content {
      margin: 0 13%;
    }
  }

  @media screen and (max-width: 1600px) {
    .outer-top-content {
      margin: 0 9.8%;
    }
  }

  @media screen and (max-width: 1400px) {
    .outer-top-content {
      margin: 0 5%;
    }
  }
